---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const response = await fetch("http://localhost:4321/api/proyectos.json");
const proyectos = await response.json()
---

<Layout title="Mi Portafolio">
	<main>
		<h1>Mi Portafolio de Proyectos</h1>
		<p>Bienvenido a mi portafolio. Aquí encontrarás una selección de mis mejores proyectos web.</p>
		
		<div class="project-grid">
			{proyectos.map((project) => (
				<ProjectCard
					title={project.title}
					description={project.descripcionCorta}
					image={project.image}
					url={project.url}
				/>
			))}
		</div>
	</main>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: rgb(var(--accent));
	}
	p {
		text-align: center;
		margin-bottom: 2rem;
	}
	.project-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;
	}
</style>